.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.horizontal-stack {
  display: flex;
  flex-direction: row;
}

.stack-item {
  margin: 1vh;
}

.fit-content {
  width:fit-content;
  height:auto;
}

.justify-center {
  justify-content: center;
}

.align-self-center{
  align-self: center;
}

.align-center {
  align-content: center;
}

.m-y-1 {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.content-flex{
  display: flex;
  flex-direction: column;
}

.align-space-between{
  align-content: space-between;
}

.warning-container{
  background: #e4e69e;
  padding: 1vh;
}

.warning-text{
  color: red;
  text-align: center;
}

.button {
  height: fit-content;
  width: fit-content;
  padding: 2vh;
  color:rgb(28, 67, 107);
  font-size: medium;
  font-weight: bold;
  background-color:rgb(173, 230, 230);
  border-radius: 1vh;
  cursor: pointer;
}